[submodule "baromesh"]
	path = baromesh
	url = https://github.com/BaroboRobotics/baromesh.git
[submodule "ribbon-bridge"]
	path = ribbon-bridge
	url = https://github.com/BaroboRobotics/ribbon-bridge.git
[submodule "cxx-util"]
	path = cxx-util
	url = https://github.com/BaroboRobotics/cxx-util.git
[submodule "libsfp"]
	path = libsfp
	url = https://github.com/BaroboRobotics/libsfp.git
[submodule "libstkcomms"]
	path = libstkcomms
	url = https://github.com/BaroboRobotics/libstkcomms.git
[submodule "usbcdc"]
	path = usbcdc
	url = git@github.com:BaroboRobotics/usbcdc.git
