[submodule "baromesh"]
	path = baromesh
	url = https://github.com/BaroboRobotics/baromesh.git
[submodule "ribbon-bridge"]
	path = ribbon-bridge
	url = https://github.com/BaroboRobotics/ribbon-bridge.git
[submodule "cxx-util"]
	path = cxx-util
	url = https://github.com/BaroboRobotics/cxx-util.git
[submodule "interfaces"]
	path = interfaces
	url = git@github.com:BaroboRobotics/linkbot-interfaces.git
[submodule "websocketpp"]
	path = websocketpp
	url = git@github.com:BaroboRobotics/websocketpp.git
